.tipo-de-cita {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tipo-de-cita .div {
  background-color: #ffffff;
  width: 1512px;
  height: 1122px;
  position: relative;
}

.tipo-de-cita .overlap {
  position: absolute;
  width: 1266px;
  height: 791px;
  top: 169px;
  left: 141px;
  background: linear-gradient(220.55deg, #5d85a6 0%, #0e2c5e 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.tipo-de-cita .overlap-group {
  position: absolute;
  width: 826px;
  height: 693px;
  top: 49px;
  left: 408px;
  border-radius: 10px;
}

.tipo-de-cita .tipo-de-cita .rectangle {
  position: absolute;
  width: 826px;
  height: 693px;
  top: 0;
  left: 0;
  background-color: #85c5ff;
  border-radius: 10px;
  opacity: 0.3;
}

.container {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #f5f5f5;
}

.table-responsive {
  overflow-x: auto;
}


.tipo-de-cita .secondary-buttons {
  position: absolute;
  width: 163px;
  height: 46px;
  top: 658px;
  left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(71, 222, 159);
  border: none;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
  font-size: larger;
}

.tipo-de-cita .elige-la-modalidad {
  position: absolute;
  width: 407px;
  top: 0;
  left: 190px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: white;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .image {
  top: 220px;
  left: 35px;
  position: absolute;
  width: 357px;
  height: 193px;
  object-fit: cover;
}

.tipo-de-cita .img {
  top: 421px;
  left: 442px;
  position: absolute;
  width: 357px;
  height: 193px;
  object-fit: cover;
}

.tipo-de-cita .secondary-buttons-2 {
  top: 432px;
  left: 129px;
  position: absolute;
  width: 163px;
  height: 46px;
  border-radius: 20px;
  background-color: rgb(71, 222, 159);
  border: none;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
  font-size: larger;
}

.tipo-de-cita .secondary-buttons-3 {
  top: 630px;
  left: 551px;
  position: absolute;
  width: 163px;
  height: 46px;
  border-radius: 20px;
  background-color: rgb(71, 222, 159);
  border: none;
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
  font-size: larger;
}

.tipo-de-cita .overlap-2 {
  position: absolute;
  width: 382px;
  height: 673px;
  top: 49px;
  left: 26px;
  background-image: url(./img/rectangle-355.svg);
  background-size: 100% 100%;
}

.tipo-de-cita .paso {
  top: 331px;
  left: 84px;
  position: absolute;
  width: 67px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .text-wrapper {
  top: 239px;
  left: 84px;
  position: absolute;
  width: 67px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .overlap-3 {
  position: absolute;
  width: 205px;
  height: 43px;
  top: 154px;
  left: 84px;
}

.tipo-de-cita .paso-2 {
  top: 0;
  left: 0;
  position: absolute;
  width: 67px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .elige-modalidad {
  width: 205px;
  top: 21px;
  left: 0;
  position: absolute;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .elige-psc-logo {
  width: 175px;
  top: 262px;
  left: 84px;
  position: absolute;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .elige-fecha {
  width: 196px;
  top: 359px;
  left: 84px;
  position: absolute;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .div-wrapper {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 332px;
  left: 22px;
  border-radius: 25.5px;
  border: 2px solid;
  border-color: #ffffff;
  background-color: #ffffff;
}

.tipo-de-cita .text-wrapper-2 {
  position: absolute;
  width: 18px;
  top: 1px;
  left: 12px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .overlap-group-2 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 147px;
  left: 22px;
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 25.5px;
}

.tipo-de-cita .text-wrapper-3 {
  top: 2px;
  left: 13px;
  color: #fbf7f7;
  position: absolute;
  width: 18px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .cita {
  position: absolute;
  width: 126px;
  top: 73px;
  left: 129px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .overlap-4 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 236px;
  left: 22px;
  border-radius: 25.5px;
  border: 2px solid;
  border-color: #ffffff;
}

.tipo-de-cita .text-wrapper-4 {
  top: 0;
  left: 12px;
  color: #ffffff;
  position: absolute;
  width: 18px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .header {
  position: absolute;
  width: 1512px;
  height: 135px;
  top: 0;
  left: 0;
  background-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(98.51, 242.24, 181.72) 0%,
    rgb(71, 223, 159) 30.73%,
    rgb(133, 197, 255) 66.15%,
    rgb(162.35, 210.95, 255) 100%
  );
}

.tipo-de-cita .overlap-5 {
  position: relative;
  width: 1512px;
  height: 135px;
}

.tipo-de-cita .navbar {
  position: absolute;
  width: 1512px;
  height: 135px;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(98.51, 242.24, 181.72) 0%,
    rgb(71, 223, 159) 30.73%,
    rgb(133, 197, 255) 66.15%,
    rgb(162.35, 210.95, 255) 100%
  );
}

.tipo-de-cita .nosotros {
  position: absolute;
  width: 95px;
  height: 25px;
  top: 47px;
  left: 1183px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.12px;
  line-height: normal;
}

.tipo-de-cita .recursos {
  position: absolute;
  width: 92px;
  height: 25px;
  top: 46px;
  left: 1076px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.12px;
  line-height: normal;
}

.tipo-de-cita .servicios {
  position: absolute;
  width: 89px;
  height: 25px;
  top: 47px;
  left: 972px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.12px;
  line-height: normal;
}

.tipo-de-cita .IMG {
  position: absolute;
  border: #00000040 4px;
  width: 86px;
  height: 83px;
  top: 19px;
  left: 56px;
  object-fit: cover;
  background-color: #ffffff;
  border-radius: 50%;
}

.tipo-de-cita .text-wrapper-6 {
  position: relative;
  top: 770px;
  margin: 0 auto;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .text-wrapper-6 span {
  background: linear-gradient(
    180deg,
    rgb(98.51, 242.24, 181.72) 0%,
    rgb(71, 223, 159) 30.73%,
    rgb(133, 197, 255) 66.15%,
    rgb(162.35, 210.95, 255) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 170px;
  width: 1250px;
  letter-spacing: 11.9px;
  line-height: normal;
}

/* Footer */

.tipo-de-cita .footer {
  position: absolute;
  width: 1250px;
  height: 651px;
  top: 997px;
  left: 0;
  background-color: transparent;
}

.tipo-de-cita .overlap-40 {
  position: relative;
  width: 1483px;
  height: 651px;
}

.tipo-de-cita .rectangle-19 {
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  width: 1512px;
  height: 430px;
  top: 180px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgb(98.51, 242.24, 181.72) 0%,
    rgb(71, 223, 159) 30.73%,
    rgb(133, 197, 255) 66.15%,
    rgb(162.35, 210.95, 255) 100%
  );
}

.tipo-de-cita .misc {
  position: absolute;
  width: 1332px;
  height: 1px;
  top: 535px;
  left: 66px;
  background-image: url(../img/line.png);
  background-size: cover;
  background-position: 50% 50%;
}

.tipo-de-cita .contacto {
  position: absolute;
  width: 203px;
  height: 239px;
  top: 248px;
  left: 1215px;
}

.tipo-de-cita .subscribe-wrapper {
  position: absolute;
  width: 197px;
  height: 71px;
  top: 167px;
  left: 0;
  background-color: #47df9f;
  border-radius: 15px;
  border: 1px solid;
  border-color: #000000;
}

.tipo-de-cita .subscribe {
  position: absolute;
  width: 111px;
  top: 25px;
  left: 43px;
  font-family: var(--text-button-font-family);
  font-weight: var(--text-button-font-weight);
  color: #000000;
  font-size: var(--text-button-font-size);
  text-align: center;
  letter-spacing: var(--text-button-letter-spacing);
  line-height: var(--text-button-line-height);
  font-style: var(--text-button-font-style);
}

.tipo-de-cita .text-wrapper-20 {
  width: 50px;
  top: 67px;
  left: 147px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.tipo-de-cita .text-wrapper-30 {
  width: 35px;
  top: 0;
  left: 154px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 50px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.tipo-de-cita .footer-2 {
  position: absolute;
  width: 1411px;
  height: 378px;
  top: 261px;
  left: 72px;
}

.tipo-de-cita .rectangle-20 {
  position: absolute;
  width: 46px;
  height: 44px;
  top: 180px;
  left: 186px;
  object-fit: cover;
}

.tipo-de-cita .rectangle-21 {
  position: absolute;
  width: 46px;
  height: 44px;
  top: 180px;
  left: 93px;
  object-fit: cover;
}

.tipo-de-cita .rectangle-22 {
  position: absolute;
  width: 46px;
  height: 44px;
  top: 180px;
  left: 0;
  object-fit: cover;
}

.tipo-de-cita .botn-contacto {
  position: absolute;
  width: 200px;
  height: 71px;
  top: 0;
  left: 2px;
}

.tipo-de-cita .contactanos-wrapper {
  position: relative;
  width: 198px;
  height: 71px;
  bottom: 50px;
  background-color: var(--low-blue);
  border-radius: 15px;
  border: 2px solid;
  border-color: #000000;
  background: var(--low-blue, #85c5ff);
}

.tipo-de-cita .contactanos {
  position: absolute;
  width: 142px;
  top: 23px;
  left: 23px;
  font-family: var(--text-button-font-family);
  font-weight: var(--text-button-font-weight);
  color: #000000;
  font-size: var(--text-button-font-size);
  text-align: center;
  letter-spacing: var(--text-button-letter-spacing);
  line-height: var(--text-button-line-height);
  font-style: var(--text-button-font-style);
}

.tipo-de-cita .redes-sociales {
  position: absolute;
  width: 273px;
  top: 50px;
  left: 2px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 35px;
  letter-spacing: 2.45px;
  line-height: normal;
}

.tipo-de-cita .politica-de {
  position: absolute;
  width: 233px;
  top: 305px;
  left: 937px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: normal;
}

.tipo-de-cita .disclamer {
  position: absolute;
  width: 106px;
  top: 305px;
  left: 779px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: normal;
}

.tipo-de-cita .terminos-de-uso {
  position: absolute;
  width: 224px;
  top: 305px;
  left: 1179px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.98px;
  line-height: normal;
}

.tipo-de-cita .element-calle-de-la {
  position: absolute;
  width: 668px;
  top: 240px;
  left: 675px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .brain-wave-us-gmail {
  position: absolute;
  width: 354px;
  top: 332px;
  left: 989px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  text-align: right;
  letter-spacing: 2px;
  line-height: normal;
  white-space: nowrap;
}

.tipo-de-cita .brainwave-copyright {
  position: absolute;
  width: 339px;
  top: 560px;
  left: 72px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: normal;
}
