:root {
    --black-blue: rgba(5, 3, 111, 1);
    --fond: rgba(186, 249, 228, 1);
    --green: rgba(71, 223, 159, 1);
    --garnet: rgba(226, 64, 90, 1);
    --low-blue: rgba(133, 197, 255, 1);
    --brandwhite: rgba(255, 255, 255, 1);
    --brandgrey: rgba(191, 191, 191, 1);
    --hero-XL-font-family: "Inter", Helvetica;
    --hero-XL-font-weight: 400;
    --hero-XL-font-size: 48px;
    --hero-XL-letter-spacing: 0px;
    --hero-XL-line-height: 105px;
    --hero-XL-font-style: normal;
    --t-tulo-font-family: "Inter", Helvetica;
    --t-tulo-font-weight: 400;
    --t-tulo-font-size: 40px;
    --t-tulo-letter-spacing: 0px;
    --t-tulo-line-height: 110px;
    --t-tulo-font-style: normal;
    --t-tarjetas-font-family: "Inter", Helvetica;
    --t-tarjetas-font-weight: 400;
    --t-tarjetas-font-size: 28px;
    --t-tarjetas-letter-spacing: 0px;
    --t-tarjetas-line-height: 110.00000238418579%;
    --t-tarjetas-font-style: normal;
    --t-desc-font-family: "Inter", Helvetica;
    --t-desc-font-weight: 400;
    --t-desc-font-size: 24px;
    --t-desc-letter-spacing: 0px;
    --t-desc-line-height: 110px;
    --t-desc-font-style: normal;
    --text-button-font-family: "Poppins", Helvetica;
    --text-button-font-weight: 600;
    --text-button-font-size: 15px;
    --text-button-letter-spacing: 1.5px;
    --text-button-line-height: normal;
    --text-button-font-style: normal;
    --collection-1-green-grand: rgba(254, 176, 85, 1);
    --collection-1-blue: rgba(156, 208, 255, 1);
  }
  